<div class="w-100">
  <nav class="sans-serif nearb-black dt w-100 border-box pv2-l ph3 max-width-large mauto">
    <div class="center mw7 pv1 ph3 tc">
      <a class="navbar-button heading-sans link-underline"
        href="/blog">Blog</a>
      <a class="navbar-button heading-sans link-underline"
        target="_blank" href="https://github.com/bausk">GitHub</a>
    </div>
  </nav>
</div>
