::selection {
  background-color: $primary-color;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .lh-title;
}

.anchorjs-link {
  color: rgba($near-black, .35);
}

.accent-inverted {
  color: $accent-color-primary-tame;
}

.year-plaque {
  position: relative;
  &::after {
    content: "";
    width: 0.5em;
    background: -webkit-gradient(linear,left top,right top,from($accent-color-primary-tame),to($accent-color-secondary-tame));
    background: linear-gradient(0deg,$accent-color-primary-tame,$accent-color-secondary-tame);
    height: 60%;
    position: absolute;
    bottom: 20%;
    left: -0.3em;
    border-radius: 0px;
  }
}

.subdivider {
  background-color: $tame-color;
  height: 0px;
}

.divider {
  background-color: $accent-color;
  transition: all .15s ease-in;
  height: 16px;
  position: relative;
}

.skewer {
  background-color: $accent-color;
  z-index: -1;
  position: absolute;
  height: 64px;
  bottom: -32px;
  width: 100%;
  transform: skew(0deg, 0deg);
}

.post-header-background {
  clip-path: polygon(0.5rem 1.5rem,calc(100% - .5rem) 1rem,calc(100% - .8rem) calc(100% - 1rem),.8rem calc(100% - .8rem));
  margin: 0;
  padding: 2rem;
}

.heading-styled {
  clip-path: polygon(0.5rem 1.5rem,calc(100% - .5rem) 1rem,calc(100% - .8rem) calc(100% - 1rem),.8rem calc(100% - .8rem));
  padding: 2rem;
}

.shard {
  background-color: $background-color;
  clip-path: polygon(.2rem .5rem,calc(100% - .5rem) .3rem,calc(100% - .1rem) calc(100% - .3rem),.5rem calc(100% - .5rem));
  padding: 1rem;
}

.no-image-header {
  background-color: $background-color;
}

a, .link-underline {
  color: $near-black;
  transition: all .15s ease-in !important;
  text-decoration: none;
  line-height: normal;
  position: relative;
  z-index: 1;
  .white & {
    &::after {
      background: -webkit-gradient(linear,left top,right top,from($accent-color-primary-bright),to($accent-color-secondary-bright));
      background: linear-gradient(90deg,$accent-color-primary-bright,$accent-color-secondary-bright);
    }
  }
  &::after {
    content: "";
    transition: all .15s ease-in !important;
    height: 0.2em;
    background: -webkit-gradient(linear,left top,right top,from($accent-color-primary-tame),to($accent-color-secondary-tame));
    background: linear-gradient(90deg,$accent-color-primary-tame,$accent-color-secondary-tame);
    width: 100%;
    position: absolute;
    bottom: 0.12em;
    left: 0;
    border-radius: 0px;
    z-index: -1;
  }
  &:hover {
    &::after {
      height: 1em;
    }
  }
}

.file-link {
  color: $accent-color;
  &:hover {
    color: $accent-color-secondary-tame;
  }
}

.image-link {
  &::after {
    display: none;
  }
}

.external-icon {
  color: $gray;
  font-size: 1em;
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.selectedText {
  font-style: normal;
  background: $primary-color;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.fade-in-delay-small {
  animation-delay: 0.5s;
}

.fade-in-delay-large {
  animation-delay: 1.5s;
}

.visited {
  a:not([data-visited]) {
    text-decoration-color: $primary-color;
  }
  a[data-visited] {
    color: $secondary-color;
  }
  a[data-visited]::after {
    text-decoration-color: $secondary-color;
  }
}

.serif {
  font-family: Lora, Georgia, 'Times New Roman', Times, serif;
}

.sans-serif {
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.heading-sans {
  font-family: Oswald, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.sans-serif-secondary {
  font-family: 'Roboto Condensed', Oswald, Segoe UI, sans-serif
}

code, pre {
  font-family: 'Fira Code', Consolas, monospace!important;
  font-size: 0.9em!important;
}

pre {
  padding: 0.7em!important;
}