$accent-color-primary-bright: #d47807;
$accent-color-secondary-bright: #e52e71;
$accent-color-primary-tame: #ffaf50;
$accent-color-secondary-tame: #ff75bf;
$background-color-primary: #dfe4fe;

$primary-color   : $accent-color-primary-bright;
$secondary-color : #ddd;
$mark-color      : #ffedeb;
$tint-variant1   : #e4ddfe;
$tint-variant2   : #b3fff8;

$background-color: rgba(49,78,39,.1);
$accent-color: #fa5e21;
$tame-color: #d98dff;

$code-font       : Menlo,Monaco,Lucida Console,Liberation Mono, DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace, serif;
$line-height     : 1.8em;

$link-color : #a84aff;
$link-text-color: #181716;
$background-tones: $mark-color;
$background-tame-cold: $tint-variant1;
$tint-cold: $tint-variant1;

.primary {
  color: $primary-color;
}
