<a target="blank" href="https://twitter.com/bauskas" title="Twitter" class="near-black f4 f3-l dib link link-underline">Twitter</a>
<a target="blank" href="https://github.com/bausk" title="GitHub" class="near-black f4 f3-l dib link link-underline">GitHub</a>
<a target="blank" href="https://www.linkedin.com/in/bausk" title="LinkedIn" class="near-black f4 f3-l dib link link-underline">LinkedIn</a>
