<footer class="near-white bg-near-black heading-sans ph4-l pa3">
  <section class="ph4-l ph0-ns pv4 mauto max-width-large flex justify-around items-center flex-wrap">
    <a href="mailto:bauskas@gmail.com"
      class="link b f3 f2-ns lh-solid near-white pb0">
      <p class="f6 db b ttu near-white">bauskas@gmail.com</p>
    </a>
    <div>
      <a href="https://twitter.com/bauskas" class='near-white ph1 mh1 f2-l f3'><i class="fab fa-twitter"></i></a>
      <a href="https://github.com/bausk" class='near-white ph1 mh1 f2-l f3'><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/bausk" class='near-white ph1 mh1 f2-l f3'><i class="fab fa-linkedin"></i></a>
    </div>
  </section>
</footer>
