<section class="bg-primary sans-serif near-black ph4-l">
  <header class="mauto max-width-large ph4-l ph0-ns pb4 pt6 cover bg-center">
    <div class="flex justify-center flex-row-l flex-column items-center">
      <div class="mw7-l mw5 pr4-l pb0-l pb3">
        <div class="img-wrapper br-100">
          <img src="/assets/images/avatar.jpg" class="br-100" />
        </div>
      </div>
      <div class="ph2-l ph4 sans-serif fade-in fade-in-delay-small">
        <div class="tl-l tc">
          <h2 class="f3-l f3 lh-title mt0">Hi, I'm Oleksander Bausk,</h2>
          <h3 class="f4-l f4 fw3">fullstack expert, consultant, and dog of war.</h3>
        </div>

        <div class="flex flex-row flex-wrap">
          <dl class="lh-title flex flex-row w-100 w-auto-l mw6-l mr0 mr4-l items-center justify-center justify-start-l">
              <dd class="f6 fw3 ml0 mr1">Based in:</dd>
              <dd class="f4 f3-l ml0">Dnipro, Ukraine</dd>
          </dl>
          <dl class="lh-title flex flex-row w-100 w-auto-l mw6-l mr0 mr4-l items-center justify-center justify-start-l">
              <dd class="f6 fw3 ml0 mr1">Languages:</dd>
              <dd class="f4 f3-l ml0">Python, JavaScript, C#</dd>
          </dl>
          <dl class="lh-title flex flex-row w-100 w-auto-l mw6-l mr0 mr4-l items-center justify-center justify-start-l">
              <dd class="f6 fw3 ml0 mr1">Technologies:</dd>
              <dd class="f4 f3-l ml0">AWS, ML, Docker, React</dd>
          </dl>
          <dl class="lh-title flex flex-row w-100 w-auto-l mw6-l mr0 mr4-l items-center justify-center justify-start-l">
              <dd class="f6 fw3 ml0 mr1">Interests:</dd>
              <dd class="f4 f3-l ml0">ML, JAMStack, Engineering, Automation</dd>
          </dl>
        </div>
        <div class="pt4 fade-in fade-in-delay-large flex flex-row justify-around">
          {{> landing/social-links }}
        </div>
      </div>
    </div>
  </header>
</section>
